@model Guid
@{
    ViewData["Title"] = "Cadastro Pessoa";
    Layout = "~/Views/Shared/_LayoutLoteria.cshtml";
}

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper" style="margin-left: 0;">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">

                        <!-- /.card-header -->
                        <div class="card-body">
                            <div class="row">

                                @if (string.IsNullOrEmpty(ViewBag.Sucesso))
                                {
                                    <h2>ViewBag.Sucesso</h2>
                                }

                                <!--DADOS PESSOA-->
                                @if (Model.Equals(Guid.Empty))
                                {
                                    @Html.Partial("_CreateNewPerson.cshtml")
                                }
                                else
                                {
                                    @Html.Partial("_UpdatePerson.cshtml")
                                }

                                <!--TABELA-->
                                <div class="col-md-8" id="partialTable">

                                </div>
                            </div>
                        </div>
                        <!-- ./card-body -->
                        <div class="card-footer">
                            <div class="row">
                            </div>
                            <!-- /.row -->
                        </div>
                        <!-- /.card-footer -->
                    </div>
                    <!-- /.card -->
                </div>
                <!-- /.col -->
            </div>
        </div>
        <!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->
</div>



@section Scripts {
    <script type="text/javascript">

        $(document).ready(function () {

            carregaTabelaJogadores();

        });


        function carregaTabelaJogadores() {
            divCarregandoTabela(true);

            $.ajax({
                type: 'POST',
                async: false,
                url: '@Url.Action("ListAll", "Person")',
                success: (function (data) {

                    $('#partialTable').html(data);

                    divCarregandoTabela(false);
                }),
                error: (function (erro) {
                    console.log("ERRO carregaPlayers:" + erro);
                    divCarregandoTabela(false);
                })
            });
        }

        function divCarregandoTabela(mostrar = false) {
            if (mostrar) {
                $("#divCarregando").removeClass("hide");
            }
            else {
                $("#divCarregando").addClass("hide");
            }
        }

        function formataData(value, row, index) {
            return dataAtualFormatada(row.dtRegister);
        }

        function dataAtualFormatada(data) {
            var d = new Date(data);
            return d.toLocaleDateString();
        }

        function actionFormatter(value, row, index) {
            return [
                '<div style="text-align:center;">',
                '<span class="edit text-info" style="cursor: pointer; margin:10px;" title="Edit">',
                '<i class="fa fa-edit"></i>',
                '</span>',
                '<span class="remove text-danger" style="cursor: pointer; margin:10px;" title="Remove">',
                '<i class="fa fa-trash-o"></i>',
                '</span>',

                '</div>'
            ].join('');
        }
    </script>
}
