@{
    ViewData["Title"] = "Cadastro Pessoa";
    Layout = "~/Views/Shared/_LayoutLoteria.cshtml";
}

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper" style="margin-left: 0;">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">

                        <!-- /.card-header -->
                        <div class="card-body">

                            @*@Html.Partial("_CadPerson.cshtml");*@

                            <div class="row">
                                <!--DADOS PESSOA-->
                                @Html.Partial("_CreateNewPerson.cshtml")

                                <!--TABELA-->
                                @Html.Partial("_TabelaPessoasPartial.cshtml")
                            </div>
                            <!-- /.row -->
                            <div>
                            </div>
                        </div>
                        <!-- ./card-body -->
                        <div class="card-footer">
                            <div class="row">
                            </div>
                            <!-- /.row -->
                        </div>
                        <!-- /.card-footer -->
                    </div>
                    <!-- /.card -->
                </div>
                <!-- /.col -->
            </div>
        </div>
        <!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->
</div>


@section Scripts {
    <script type="text/javascript">
        $(document).ready(function () {

            divCarregando(true);
            $.ajax({
                type: 'POST',
                async: true,
                url: '/person/ListAll',
                success: (function (data) {
                    console.log(data);
                    $('#tbPlayers').bootstrapTable('load', data);
                    divCarregando(false);
                }),
                error: (function (erro) {
                    console.log("ERRO carregaPlayers:" + erro);
                    //console.log(erro);
                })
            });

        });

        function divCarregando(mostrar = false) {
            if (mostrar) {
                $("#divCarregando").removeClass("hide");
            }
            else {
                $("#divCarregando").addClass("hide");
            }
        }
    </script>
}