<div class="col-md-8">
    <div id="chart" class="chart hide" style="min-height: 380px; max-height:100%; height:auto; overflow-x: auto;">
        <!-- Sales Chart Canvas -->
        <canvas id="loto-chart" style="height: 100%; width: 680px;" width="680"></canvas>
    </div>
    <!-- /.chart-responsive -->
</div>