
@{
    ViewData["Title"] = "Principal - Loteria Fácil";
    Layout = "~/Views/Shared/_LayoutLoteria.cshtml";
}

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper" style="margin-left: 0;">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="overlay hide" id="divCarregando">
                            <i class="fa fa-refresh fa-spin"></i>
                        </div>
                        <div class="card-header">
                            <div class="row">
                                <div class="col-md-5">
                                    <h5 class="card-title text" id="concurseHeader"> <!--CONCURSO ### - DATA--></h5>
                                </div>
                                <div class="input-group col-md-2" style="height:30px;" id="divSearch">
                                    <input type="text" class="form-control" placeholder="Search Concurse" id="txtConcurse">
                                    <div class="input-group-append" id="concurseSearch" style="cursor: pointer;">
                                        <span class="input-group-text btn btn-default"><i class="fa fa-search"></i></span>
                                    </div>
                                </div>
                                <div class="col-md-5 text-right">
                                    <div class="card-tools">
                                        <button type="button" class="btn btn-tool hide" title="Enviar E-mail" id="btn-email">
                                            <i class="fa fa-envelope"></i> E-mail Manual
                                        </button>
                                        <button type="button" class="btn btn-tool hide" title="Verificar Jogo Online" id="btn-checkOnline">
                                            <i class="fa fa-cloud-download"></i> Verifica Jogo Online
                                        </button>
                                    </div>
                                </div>
                            </div>


                        </div>
                        <!-- /.card-header -->
                        <div class="card-body">
                            <div id="divEmail" class="col-md-12 hide">
                                <div class="callout callout-success text-success">
                                    <h5>
                                        <i class="fa fa-check-circle"></i> E-mail Enviado com sucesso!</span>
                                    </h5>
                                </div>
                            </div>

                            <div class="row" id="rowPrincipal">
                                <!--<div>-->
                                <div class="overlay" id="divCarregandoGraph" style="margin:0 auto; text-align:center;width: 100%; height: 150px;">
                                    <h4>Carregando..</h4>
                                    <i class="fa fa-refresh fa-spin"></i>
                                </div>
                                <!--</div>-->
                                @Html.Partial("_Load")

                                @Html.Partial("_LoadGamesPartial")
                            </div>
                        </div>
                        <!-- /.col -->


                    </div>
                    <!-- /.row -->
                </div>
                <!-- ./card-body -->
                <div class="card-footer">
                    <div class="row">
                        <div class="col-sm-2-5 col-6">
                            <div class="description-block border-right">
                                <span class="description-percentage" data-toggle="popover" data-trigger="hover" data-placement="top" data-content="A mais que o concurso passado!" id="percent15">17%</span>
                                <h5 class="description-header" id="shared15"><!--VALOR PAGO--></h5>
                                <span class="description-text">15 Pontos</span>
                                <br />
                                <span id="hit15"><!--GANHADORES--></span>
                            </div>
                            <!-- /.description-block -->
                        </div>
                        <!-- /.col -->
                        <div class="col-sm-2-5 col-6">
                            <div class="description-block border-right">
                                <span class="description-percentage" data-toggle="popover" data-trigger="hover" data-placement="top" data-content="Mesmo valor que o concurso passado!" id="percent14"><i class="fa fa-caret-left"></i> 0%</span>
                                <h5 class="description-header" id="shared14"><!--VALOR PAGO--></h5>
                                <span class="description-text">14 Pontos</span>
                                <br />
                                <span id="hit14"><!--GANHADORES--></span>
                            </div>
                            <!-- /.description-block -->
                        </div>
                        <!-- /.col -->
                        <div class="col-sm-2-5 col-6">
                            <div class="description-block border-right">
                                <span class="description-percentage" data-toggle="popover" data-trigger="hover" data-placement="top" data-content="A mais que o concurso passado!" id="percent13"><i class="fa fa-caret-up"></i> 20%</span>
                                <h5 class="description-header" id="shared13"><!--VALOR PAGO--></h5>
                                <span class="description-text">13 Pontos</span>
                                <br />
                                <span id="hit13"><!--GANHADORES--></span>
                            </div>
                            <!-- /.description-block -->
                        </div>
                        <!-- /.col -->
                        <div class="col-sm-2-5 col-6">
                            <div class="description-block border-right">
                                <span class="description-percentage" data-toggle="popover" data-trigger="hover" data-placement="top" data-content="A menos que o concurso passado!" id="percent12"><i class="fa fa-caret-down"></i> 18%</span>
                                <h5 class="description-header" id="shared12"><!--VALOR PAGO--></h5>
                                <span class="description-text">12 Pontos</span>
                                <br />
                                <span id="hit12"><!--GANHADORES--></span>
                            </div>
                            <!-- /.description-block -->
                        </div>
                        <!-- /.col -->
                        <div class="col-sm-2-5 col-6">
                            <div class="description-block">
                                <span class="description-percentage" data-toggle="popover" data-trigger="hover" data-placement="top" data-content="A menos que o concurso passado!" id="percent11"><i class="fa fa-caret-down"></i> 18%</span>
                                <h5 class="description-header" id="shared11"><!--VALOR PAGO--></h5>
                                <span class="description-text">11 Pontos</span>
                                <br />
                                <span id="hit11"><!--GANHADORES--></span>
                            </div>
                            <!-- /.description-block -->
                        </div>
                        <!-- /.col -->
                    </div>
                    <!-- /.row -->
                </div>
                <!-- /.card-footer -->
            </div>
            <!-- /.card -->
        </div>
        <!-- /.col -->
    </div>

</div><!-- /.container-fluid -->
</div>
<!-- /.content-header -->

@section Scripts{

    <!-- AdminLTE App -->
    <script src="~/static/plugins/chart.js/Chart.min.js"></script>

    <script src="~/static/js/pages/index/pr_grafico.js"></script>



}